<form [formGroup]="myform1">
  <div>
    <label>Seller Name</label>
    <input formControlName="name" type="text">
  </div>
  <div>
    <label>Currencies</label>
    <select formControlName="currency">
      <option *ngFor="let c of currencies">{{c}}</option>
    </select>
  </div>
  <div>
    <label>Offices</label>
    <select formControlName="office">
      <option *ngFor="let f of offices">{{f}}</option>
    </select>
  </div>
  <div>
    <label>Deal Type :</label>
    <input formControlName="Dealbidded" type="checkbox" id="bidded" name="bidded" value="bid">
    <label for="DealType1">Bidded</label><br>
    <input  formControlName="Dealdone" type="checkbox" id="guaranted" name="guaranted" value="gaurantee">
    <label for="DealType2">Guaranted</label><br>
  </div>
  <div>
    <label>Contact Number</label>
    <input formControlName="contactnumber" type="text">
  </div>
  <div>
    <label>Email</label>
    <input formControlName="email" type="email">
  </div>
  <div>
    <button [disabled]="myform1.invalid" type="submit" (click)="submit()">Submit</button>
  </div>
</form>

<div>
  <table class="table table-striped">
    <thead>
      <th>Name</th>
        <th>Currencies</th>
        <th>Offices</th>
        <th>Bidded Deals</th>
        <th>Guaranted Deals</th>
        <th>Actions</th>
        <th>Delete</th>
    </thead>
    <tbody>
      <tr *ngFor="let m of mydata;let i=index">
        <td>{{m.name}}</td>
        <td>{{m.currency}}</td>
        <td>{{m.office}}</td>
        <td>{{m.Dealdone}}</td>
        <td>{{m.Dealbidded}}</td>
        <td><button (click)="editData(m,i)">Edit</button>
        </td>
        <td><button (click)="ondelete(i)">Delete</button>
        </td>

        <hr>
      </tr>
    </tbody>
  </table>
</div>